@using Portal_MovilEsales.Services.AsesorServices.ViewModels.NuevoPedido;
@{
    List<ProductosNuevoPedido> listaProductos = Model.listadoProductosNuevoPedido;
    if (listaProductos.Any())
    {


        <div class="table-responsive table-container pt-3" id="table-productos-seleccionados">
            <div class="d-md-flex justify-content-md-between">



                <form onsubmit="handleChangeDescFactura(event, '@Url.Action("establecerDescuento", "Asesor")')">
                    <div class="d-flex">
                        <strong style="margin-right:10px;">Descuento Factura</strong>
                        <div class=" car-sap-code-container">
                            <input id="descFactura" type="number"  />
                        </div>
                    </div>
                </form>
                <form onsubmit="handleChangeDescNC(event, '@Url.Action("establecerDescuento", "Asesor")')">
                    <div class="d-flex">
                        <strong style="margin-right:10px;">Descuento NC</strong>
                        <div class=" car-sap-code-container">
                            <input id="descNC" type="number" />
                        </div>
                    </div>
                </form>
            </div>



            <div class="d-flex justify-content-end mt-2 pb-3">
                <button class="orange-rounded-button pe-5 ps-5" style="background-color:#01ADEF   !important;" onclick="recalcular('@Url.Action("GetSimulacionPedido", "Asesor")')">
                    Recalcular
                    @* <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" > *@
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <g id="vuesax/linear/refresh">
                            <g id="refresh">
                                <path id="Vector" d="M10.9125 16.7525C14.13 15.905 16.5 12.98 16.5 9.5C16.5 5.36 13.17 2 9 2C3.9975 2 1.5 6.17 1.5 6.17M1.5 6.17V2.75M1.5 6.17H3.0075H4.83" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path id="Vector_2" d="M1.5 9.5C1.5 13.64 4.86 17 9 17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="3 3" />
                            </g>
                        </g>
                    </svg>

                </button>
            </div>

            <table class="table">
                <thead class="card-table_header">
                    <tr>
                        @*<th scope="col" class="border-radius-left" style="padding:13px;">Bloq.</th>*@
                        <th scope="col" class="border-radius-left" style="padding:13px;"></th>
                        <th scope="col" style="padding:13px"></th>
                        <th scope="col" style="padding:13px">N°</th>
                        <th scope="col" style="padding:13px">Código</th>
                        <th scope="col" style="padding:13px">Descripción</th>
                        <th scope="col" style="padding:13px;">Entrega</th>
                        <th scope="col" style="padding:13px;">Unidad</th>
                        <th scope="col" style="padding:13px;">Peso</th>
                        <th scope="col" style="padding:13px;">Desc. Fac</th>
                        <th scope="col" style="padding:13px;">Desc. NC</th>
                        <th scope="col" style="padding:13px;">IDL</th>
                        <th scope="col" style="padding:13px;">Subtotal</th>
                        <th scope="col" style="padding:13px;">Precio</th>
                        <th scope="col" style="padding:13px;">Desc. Base</th>
                        <th scope="col" style="padding:13px;">Precio Final</th>
                        <th scope="col" style="padding:13px;">Subtotal 2</th>
                        <th scope="col" style="padding:13px;">Cantidad</th>
                        <th scope="col" style="padding:13px;">Stock</th>
                        <th scope="col" style="padding:13px;">A. fin Mes</th>
                        <th scope="col" class="border-radius-right" style="padding:13px;">A. Familia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in listaProductos)
                    {
                        <tr>
                            @*<td>
                <div class="d-flex justify-content-center">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
                </div>
                </td>*@
                            
                            <td>
                                <button style="background: none; border: none;" onclick="handleEliminarArticulo('@Url.Action("eliminarArticulo", "Asesor")', @item.codigo)">
                                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </td>
                            <td>
                                <input type="checkbox" checked="@item.isChecked" id="@item.codigo" onchange="handleCheckBoxDescuento(event, '@Url.Action("marcarDescuento", "Asesor")')" />
                            </td>
                            <td>@item.numeroRegistro</td>
                            <td>@item.codigo</td>
                            <td>
                                <span style="white-space:pre-wrap">@item.descripcion</span>
                            </td>

                            @{
                                var codigoSAPArticulo = item.codigo;

                                var numeroRegistro = item.numeroRegistro;

                                var idCbEntrega = $"cb-entrega-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var idTxtDescFactura = $"txt-desc-fac-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var idTxtDescNC = $"txt-desc-nc-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var idTxtCantidad = $"txt-cantidad-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var idChbAFamilia = $"chb-a-familia-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var idChbAFinMes = $"chb-a-fin-mes-productos-seleccionados-{codigoSAPArticulo}-{numeroRegistro}";

                                var funcionOnChange = $"onChangeValueControl('{idCbEntrega}','{idTxtDescFactura}','{idTxtDescNC}','{idTxtCantidad}','{idChbAFamilia}','{idChbAFinMes}','{codigoSAPArticulo}','{numeroRegistro}','{Url.Action("ActualizarTablaProductosSeleccionados", "Asesor")}')";
                            }

                            <td>
                                <div class="form-group">
                                    <select class="form-control datepicker" id=@idCbEntrega onchange=@funcionOnChange>
                                        @foreach (var tipoEntrega in item.listadoTipoEntregas)
                                        {
                                            @if (tipoEntrega.porDefecto is "S")
                                            {
                                                <option value=@tipoEntrega.codigoTipoEntrega selected>@tipoEntrega.descripcionTipoEntrega</option>
                                            }
                                            else
                                            {
                                                <option value=@tipoEntrega.codigoTipoEntrega>@tipoEntrega.descripcionTipoEntrega</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </td>
                            <td>
                                @item.unidad
                            </td>
                            <td>
                                @item.peso
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control datepicker" id=@idTxtDescFactura type="number" value=@item.descFac onchange=@funcionOnChange />
                                    <div style="display:flex;">
                                        %
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control datepicker" id=@idTxtDescNC type="number" value=@item.descNc onchange=@funcionOnChange />
                                    <div style="display:flex;">
                                        %
                                    </div>
                                </div>
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                $ @item.subtotal
                            </td>

                            <td>
                                $ @item.precio
                            </td>

                            <td>
                                $ @item.descBase
                            </td>

                            <td>
                                $ @item.precioFinal
                            </td>

                            <td>
                                $ @item.subtotal2
                            </td>

                            <td>
                                @*<div class="mt-2 button-up-down" style="color: #FF602C">*@
                                <div class="form-group">
                                    @*<a>-</a>*@
                                    @*<div>*@
                                    <input class="form-control datepicker" value=@item.cantidad type="number" id=@idTxtCantidad onchange=@funcionOnChange /> U
                                    @*</div>*@
                                    @*<a>+</a>*@
                                </div>
                            </td>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#modalStock">
                                    <g id="fi-rs-cube" clip-path="url(#clip0_1074_24143)">
                                        <path id="Vector" d="M12.1221 0L1.62207 6V18L12.1221 24L22.6221 18V6L12.1221 0ZM19.6351 6.6L12.0121 10.852L4.67307 6.56L12.1221 2.3L19.6351 6.6ZM3.62207 8.262L11.0001 12.574V21.056L3.62207 16.839V8.262ZM13.0001 21.194V12.587L20.6221 8.336V16.836L13.0001 21.194Z" fill="#01ADEF" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1074_24143">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        @if (item.aFinMes)
                                        {
                                            <input checked class="form-check-input" type="checkbox" id=@idChbAFinMes onchange=@funcionOnChange />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" id=@idChbAFinMes onchange=@funcionOnChange />
                                        }

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        @if (item.aFamilia)
                                        {
                                            <input checked class="form-check-input" type="checkbox" id=@idChbAFamilia onchange=@funcionOnChange />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" id=@idChbAFamilia onchange=@funcionOnChange />
                                        }
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>


            <input value=@ViewBag.MensajeProceso type="hidden" id="mesajeProcesoHidden" />

            <div class="d-flex justify-content-center justify-content-md-end">
                <div class="subtotales-container">
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.importeBruto
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.descuentoBase
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.subTotal1
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Descuentos Varios</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.descuentoVarios
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.valorNcsinIva
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.subTotal2
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.iva
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Valor Total</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.valorTotal
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.seguroTransporte
                            </label>
                        </div>
                    </div>

                    <div>
                        <div class="subtotal-description">
                            <label class="d-flex justify-content-md-end pe-md-5">Margen Porcentaje</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                            <label class="d-flex justify-content-end">
                                @Model.resumenDetalleProductos.margenPor
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <h1>No existen productos seleccionados</h1>
    }
}