<div class="table-responsive table-container pt-3" id="table-productos-seleccionados">
    <table class="table">
        <thead class="card-table_header">
            <tr>
                @*<th scope="col" class="border-radius-left" style="padding:13px;">Bloq.</th>*@
                <th scope="col" class="border-radius-left" style="padding:13px;">Código</th>
                @*                <th scope="col" style="padding:13px;">Código</th>*@
                <th scope="col" style="padding:13px;">Descripción</th>
                <th scope="col" style="padding:13px;">Entrega</th>
                <th scope="col" style="padding:13px;">Unidad</th>
                <th scope="col" style="padding:13px;">Peso</th>
                <th scope="col" style="padding:13px;">Desc. Fac</th>
                <th scope="col" style="padding:13px;">Desc. NC</th>
                <th scope="col" style="padding:13px;">IDL</th>
                <th scope="col" style="padding:13px;">Subtotal</th>
                <th scope="col" style="padding:13px;">Cantidad</th>
                <th scope="col" style="padding:13px;">Stock</th>
                <th scope="col" style="padding:13px;">A. fin Mes</th>
                <th scope="col" class="border-radius-right" style="padding:13px;">A. Familia</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.listadoProductosNuevoPedido)
            {
                <tr>

                    <td>@item.codigo</td>
                    <td>
                        <span style="white-space: pre-wrap">@item.descripcion</span>
                    </td>
                    <td>
                        <div class="form-group" style="width:150px">
                            <select class="form-control datepicker" id="entregaSelect">

                                @foreach (var tipoEntrega in item.listadoTipoEntregas)
                                {
                                    <option value=@tipoEntrega.codigoTipoEntrega>@tipoEntrega.descripcionTipoEntrega</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        @item.unidad
                    </td>
                    <td>
                        @item.peso
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control datepicker" id="descFact" type="text" value=@item.descFac />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control datepicker" id="descNc" type="text" value=@item.descNc />
                        </div>
                    </td>
                    <td>
                        @item.idl
                    </td>
                    <td>
                        $ @item.subtotal
                    </td>
                    <td>
                        <div class="mt-2 button-up-down" style="color: #FF602C;">
                            <a>-</a>
                            <div>
                                <strong>@item.cantidad</strong> U
                            </div>
                            <a>+</a>
                        </div>
                    </td>
                    <td>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#modalStock">
                            <g id="fi-rs-cube" clip-path="url(#clip0_1074_24143)">
                                <path id="Vector" d="M12.1221 0L1.62207 6V18L12.1221 24L22.6221 18V6L12.1221 0ZM19.6351 6.6L12.0121 10.852L4.67307 6.56L12.1221 2.3L19.6351 6.6ZM3.62207 8.262L11.0001 12.574V21.056L3.62207 16.839V8.262ZM13.0001 21.194V12.587L20.6221 8.336V16.836L13.0001 21.194Z" fill="#01ADEF" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1074_24143">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>

                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                        </div>
                    </td>
                </tr>

            }

            @*  <tr>
            <td>
            <div class="d-flex justify-content-center">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            </div>
            </td>

            <td>Alambre abc</td>
            <td>
            AL. RECOCIDO 1,25MM #18 R20KG
            </td>
            <td>
            <div class="form-group">
            <select class="form-control datepicker" id="entregaSelect">
            <option value="option1">q01</option>
            <option value="option2">q02</option>
            </select>
            </div>
            </td>
            <td>
            ROL
            </td>
            <td>
            20
            </td>
            <td>
            <div class="form-group">
            <input class="form-control datepicker" id="descFact" type="text" value="20%" />
            </div>
            </td>
            <td>
            <div class="form-group">
            <input class="form-control datepicker" id="descNc" type="text" value="2%" />
            </div>
            </td>
            <td>
            20
            </td>
            <td>
            $ 50.00
            </td>
            <td>
            <div class="mt-2 button-up-down" style="color: #FF602C;">
            <a>-</a>
            <div>
            <strong>20</strong> U
            </div>
            <a>+</a>
            </div>
            </td>
            <td>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#modalStock">
            <g id="fi-rs-cube" clip-path="url(#clip0_1074_24143)">
            <path id="Vector" d="M12.1221 0L1.62207 6V18L12.1221 24L22.6221 18V6L12.1221 0ZM19.6351 6.6L12.0121 10.852L4.67307 6.56L12.1221 2.3L19.6351 6.6ZM3.62207 8.262L11.0001 12.574V21.056L3.62207 16.839V8.262ZM13.0001 21.194V12.587L20.6221 8.336V16.836L13.0001 21.194Z" fill="#01ADEF" />
            </g>
            <defs>
            <clipPath id="clip0_1074_24143">
            <rect width="24" height="24" fill="white" />
            </clipPath>
            </defs>
            </svg>

            </td>
            <td>
            <div class="d-flex justify-content-center">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            </div>
            </td>
            <td>
            <div class="d-flex justify-content-center">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            </div>
            </td>
            </tr> *@

        </tbody>
    </table>

    <div class="d-flex justify-content-center justify-content-md-end">
        <div class="subtotales-container">
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.importeBruto
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.descuentoBase
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.subTotal1
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Descuentos Varios</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.descuentoVarios
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.valorNcsinIva
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.subTotal2
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.iva
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Valor Total</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.valorTotal
                    </label>
                </div>
            </div>
            <div>
                <div class="subtotal-description">
                    <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                </div>
                <label class="pe-md-2 ps-md-5">$</label>
                <div class="subtotal-value">
                    <label class="d-flex justify-content-end">
                        @Model.resumenDetalleProductos.seguroTransporte
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>