@model Portal_MovilEsales.Services.AsesorServices.ViewModels.ListadoPedidosBPH
@{
    ViewData["Title"] = "Asesor - Pedidos";
}

<div class="col-12 ">
    <div class="card card-container">
        <div class="card-body">
            <div class="card-title">
                <h1 style="font-size: 17px">Mis Pedidos</h1>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-10">
                    <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link custom-nav-link active" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#borradores-tab-pane" type="button" role="tab" aria-controls="borradores-tab-pane" aria-selected="true" style="font-family: bekaert-headline-regular !important" onclick="cargarInfo('@Url.Action("FillPedidosBorrador", "Asesor")', 0)">Borradores</button>
                        </li>
                        <li class="nav-item " role="presentation">
                            <button class="nav-link custom-nav-link" id="pedidos-tab" data-bs-toggle="tab" data-bs-target="#pedidos-activos-tab-pane" type="button" role="tab" aria-controls="pedidos-activos-tab-pane" aria-selected="false" style="font-family: bekaert-headline-regular !important" onclick="cargarInfo('@Url.Action("FillPedidosActivos", "Asesor")', 1)">Pedidos Activos</button>
                        </li>
                        <li class="nav-item flex-grow-1" role="presentation">
                            <button class="nav-link custom-nav-link" id="historico-tab" data-bs-toggle="tab" data-bs-target="#historico-tab-pane" type="button" role="tab" aria-controls="historico-tab-pane" aria-selected="false" style="font-family: bekaert-headline-regular !important" onclick="cargarInfo('@Url.Action("FillPedidosHistoricos", "Asesor")', 2)">Histórico</button>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div style="padding-top: 12px; display:flex;">
                        <a class="orange-rounded-button" asp-action="PedidoCatalogoProductos" asp-controller="Asesor">
                            Nuevo Pedido
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="vuesax/linear/message-add">
                                    <g id="message-add">
                                        <path id="Vector" d="M16 2H8C4 2 2 4 2 8V21C2 21.55 2.45 22 3 22H16C20 22 22 20 22 16V8C22 4 20 2 16 2Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M8.5 12H15.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_3" d="M12 15.5V8.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content pt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="borradores-tab-pane" role="tabpanel" aria-labelledby="clientes-tab" tabindex="0">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="startDate" class="label-datepicker">Fecha Inicio</label>
                            <input id="startDate" class="form-control  datepicker" type="date" />
                            <span id="startDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <label class="label-datepicker" for="endDate">Fecha Fin</label>
                            <input id="endDate" class="form-control datepicker" type="date" />
                            <span id="endDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label class="label-datepicker" for="EstadoSelect">Estado</label>
                                <select class="form-control datepicker" id="EstadoSelect">
                                    <option value="borrador" selected>Borrador</option>
                                    <option value="pendiente">Aprobado</option>
                                    <option value="">Entregado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div style="padding-top: 23px; display:flex;">
                                <input type="text" class="buscador" placeholder="buscador" style="height: 40px; border: 2px solid #01ADEF;">
                                <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                        <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end align-items-end pt-2">
                            <button class="orange-rounded-button" style="background-color: #01ADEF !important">
                                Descargar
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="vuesax/linear/frame">
                                        <g id="frame">
                                            <path id="Vector" d="M16.44 8.89844C20.04 9.20844 21.51 11.0584 21.51 15.1084V15.2384C21.51 19.7084 19.72 21.4984 15.25 21.4984H8.73998C4.26998 21.4984 2.47998 19.7084 2.47998 15.2384V15.1084C2.47998 11.0884 3.92998 9.23844 7.46998 8.90844" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_2" d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_3" d="M15.3499 12.6484L11.9999 15.9984L8.6499 12.6484" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                    </g>
                                </svg>


                            </button>
                        </div>
                    </div>
                    <div class="table-responsive table-container pt-3">
                        @Html.Partial("_TablePedidosBorrador")
                    </div>
                </div>
                <div class="tab-pane fade" id="pedidos-activos-tab-pane" role="tabpanel" aria-labelledby="pedidos-tab" tabindex="0">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="startDate" class="label-datepicker">Fecha Inicio</label>
                            <input id="startDate" class="form-control  datepicker" type="date" />
                            <span id="startDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <label class="label-datepicker" for="endDate">Fecha Fin</label>
                            <input id="endDate" class="form-control datepicker" type="date" />
                            <span id="endDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label class="label-datepicker" for="EstadoSelect">Estado</label>
                                <select class="form-control datepicker" id="EstadoSelect">
                                    <option value="borrador">Borrador</option>
                                    <option value="pendiente" selected>Aprobado</option>
                                    <option value="">Entregado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div style="padding-top: 23px; display:flex;">
                                <input type="text" class="buscador" placeholder="buscador" style="height: 40px; border: 2px solid #01ADEF;">
                                <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                        <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end align-items-end pt-2">
                            <button class="orange-rounded-button" style="background-color: #01ADEF !important">
                                Descargar
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="vuesax/linear/frame">
                                        <g id="frame">
                                            <path id="Vector" d="M16.44 8.89844C20.04 9.20844 21.51 11.0584 21.51 15.1084V15.2384C21.51 19.7084 19.72 21.4984 15.25 21.4984H8.73998C4.26998 21.4984 2.47998 19.7084 2.47998 15.2384V15.1084C2.47998 11.0884 3.92998 9.23844 7.46998 8.90844" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_2" d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_3" d="M15.3499 12.6484L11.9999 15.9984L8.6499 12.6484" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                    </g>
                                </svg>


                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="modalPedidoAprobado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                        @if (Model.detallePedidoInfo != null)
                        {

                            @Html.Partial("_ModalDetallePedidoAprobado")
                        }


                        @*  <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title card-title" id="exampleModalLabel">
                        Pedido Aprobado
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        <div class="row mb-3">
                        <div class="col-md-3" style="font-weight: bold;">Cliente:</div>
                        <div class="col-md-3">Castillo Miranda Hugo Ernesto</div>
                        <div class="col-md-3" style="font-weight: bold;">Fech de Preceso:</div>
                        <div class="col-md-3">1/10/2023 3:59:02 PM</div>
                        <div class="col-md-3" style="font-weight: bold;">Forma de Pago:</div>
                        <div class="col-md-3">Net, at 30 date of invoice</div>
                        <div class="col-md-3" style="font-weight: bold;">Numero de Orden:</div>
                        <div class="col-md-3">23458</div>
                        <div class="col-md-3" style="font-weight: bold;">Dirección de Entrega:</div>
                        <div class="col-md-3">000133490. CR 18 28 23 BRR GIRARDOT</div>
                        <div class="col-md-3" style="font-weight: bold; color: #FF602C;">Aprobado</div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3" style="font-weight: bold;">Total Peso Pedido:</div>
                        <div class="col-md-3">9000.0000 (Kg)</div>
                        <div class="col-md-3" style="font-weight: bold;">Numero de Orden SAP:</div>
                        <div class="col-md-3">3901158088</div>
                        <div class="col-md-3" style="font-weight: bold;">Observación:</div>
                        <div class="col-md-3">(SandraMonal): Despachar semana del 23 de Enero 2023 (JennyHernandez):</div>
                        <div class="col-md-3" style="font-weight: bold;">Fecha de Entrega</div>
                        <div class="col-md-3">2023-01-23</div>
                        <div class="col-md-3" style="font-weight: bold;">Contacto:</div>
                        <div class="col-md-9">-</div>
                        <div class="col-md-3" style="font-weight: bold;">Dirección:</div>
                        <div class="col-md-9">-</div>
                        </div>
                        <a data-bs-toggle="collapse" href="#collapseInformacionPedido" role="button" aria-expanded="true" aria-controls="collapseInformacionPedido">
                        <div class="collapsible-tabs">
                        <div class="label">
                        <div class="label-color-wrapper">
                        <div class="label-color"><div class="text" style="font-weight: bold;">Orden de Compra - 123456</div></div>
                        </div>
                        <div class="chevron">
                        <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="&#240;&#159;&#166;&#134; icon &#34;chevron down&#34;">
                        <path id="Vector" d="M1.5 2L11.5 12L21.5 2" stroke="#D7D2CB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        </svg>
                        </div>
                        </div>
                        </div>
                        </a>

                        <div class="collapse show mb-4" id="collapseInformacionPedido">
                        <div class="table-responsive table-container">
                        <table class="table">
                        <thead class="card-table_header">
                        <tr>
                        <th scope="col" class="border-radius-left" style="padding:13px;">Familia</th>
                        <th scope="col" style="padding:13px;">Código SAP</th>
                        <th scope="col" style="padding:13px;">Producto</th>
                        <th scope="col" style="padding:13px;">Precio</th>
                        <th scope="col" style="padding:13px;">Unidad</th>
                        <th scope="col" style="padding:13px;">Cantidad</th>
                        <th scope="col" style="padding:13px;">Desc. Fac</th>
                        <th scope="col" style="padding:13px;">Desc. NC</th>
                        <th scope="col" style="padding:13px;">Peso</th>
                        <th scope="col" style="padding:13px;">Subtotal</th>
                        <th scope="col" style="padding:13px;">Desc. Base</th>
                        <th scope="col" style="padding:13px;">Precio Final</th>
                        <th scope="col" style="padding:13px;">Subtotal 2</th>
                        <th scope="col" class="border-radius-right" style="padding:13px;">X</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Alambre Galvanizado</td>
                        <td>187934</td>
                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                        <td>0.000</td>
                        <td>KG</td>
                        <td>1.500</td>
                        <td>0.000</td>
                        <td>0.000</td>
                        <td>1500</td>
                        <td>$50.00</td>
                        <td>20%</td>
                        <td>$ 50.00</td>
                        <td>$ 50.00</td>
                        <td>
                        <div class="d-flex justify-content-center">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        </div>
                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>Alambre Galvanizado</td>
                                                        <td>187934</td>
                                                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                                                        <td>0.000</td>
                                                        <td>KG</td>
                                                        <td>1.500</td>
                                                        <td>0.000</td>
                                                        <td>0.000</td>
                                                        <td>1500</td>
                                                        <td>$50.00</td>
                                                        <td>20%</td>
                                                        <td>$ 50.00</td>
                                                        <td>$ 50.00</td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Alambre Galvanizado</td>
                                                        <td>187934</td>
                                                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                                                        <td>0.000</td>
                                                        <td>KG</td>
                                                        <td>1.500</td>
                                                        <td>0.000</td>
                                                        <td>0.000</td>
                                                        <td>1500</td>
                                                        <td>$50.00</td>
                                                        <td>20%</td>
                                                        <td>$ 50.00</td>
                                                        <td>$ 50.00</td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Alambre Galvanizado</td>
                                                        <td>187934</td>
                                                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                                                        <td>0.000</td>
                                                        <td>KG</td>
                                                        <td>1.500</td>
                                                        <td>0.000</td>
                                                        <td>0.000</td>
                                                        <td>1500</td>
                                                        <td>$50.00</td>
                                                        <td>20%</td>
                                                        <td>$ 50.00</td>
                                                        <td>$ 50.00</td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex justify-content-center justify-content-md-end mt-3">
                                            <div class="subtotales-container">
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.432.24
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            286,58
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Pago</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Retiro</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Varios</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Peso</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            966.92
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            200.95
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description mb-5">
                                                        <label class="d-flex justify-content-md-end pe-md-5" style="font-size: 19px;">Valor Total</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.082.95
                                                        </label>
                                                    </div>
                                                </div>
                                               
                                                <div>
                                                    <div class="subtotal-description mb-3">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            35.87
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">IDL%</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5"></label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            5
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Guardar cambios</button>
                                </div>*@
                            </div>
                        </div>
                        </div> *@
                    </div>
                    <div class="table-responsive table-container pt-3">
                        @Html.Partial("_TablePedidosActivos")
                    </div>
                </div>
                <div class="tab-pane fade" id="historico-tab-pane" role="tabpanel" aria-labelledby="historico-tab" tabindex="0">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="startDate" class="label-datepicker">Fecha Inicio</label>
                            <input id="startDate" class="form-control  datepicker" type="date" />
                            <span id="startDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <label class="label-datepicker" for="endDate">Fecha Fin</label>
                            <input id="endDate" class="form-control datepicker" type="date" />
                            <span id="endDateSelected"></span>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label class="label-datepicker" for="EstadoSelect">Estado</label>
                                <select class="form-control datepicker" id="EstadoSelect">
                                    <option value="borrador">Borrador</option>
                                    <option value="pendiente">Aprobado</option>
                                    <option value="" selected>Entregado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div style="padding-top: 23px; display:flex;">
                                <input type="text" class="buscador" placeholder="buscador" style="height: 40px; border: 2px solid #01ADEF;">
                                <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                        <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end align-items-end pt-2">
                            <button class="orange-rounded-button" style="background-color: #01ADEF !important">
                                Descargar
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="vuesax/linear/frame">
                                        <g id="frame">
                                            <path id="Vector" d="M16.44 8.89844C20.04 9.20844 21.51 11.0584 21.51 15.1084V15.2384C21.51 19.7084 19.72 21.4984 15.25 21.4984H8.73998C4.26998 21.4984 2.47998 19.7084 2.47998 15.2384V15.1084C2.47998 11.0884 3.92998 9.23844 7.46998 8.90844" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_2" d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_3" d="M15.3499 12.6484L11.9999 15.9984L8.6499 12.6484" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                    </g>
                                </svg>


                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="modalPedidoEntregado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                        @if (Model.detallePedidoInfo != null)
                        {
                            @Html.Partial("_ModalDetallePedidoEntregado")
                        }


                        @*  <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title card-title" id="exampleModalLabel">
                        Pedido Entregado
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        <div class="row mb-3">
                        <div class="col-md-3" style="font-weight: bold;">Cliente:</div>
                        <div class="col-md-3">Castillo Miranda Hugo Ernesto</div>
                        <div class="col-md-3" style="font-weight: bold;">Fech de Preceso:</div>
                        <div class="col-md-3">1/10/2023 3:59:02 PM</div>
                        <div class="col-md-3" style="font-weight: bold;">Forma de Pago:</div>
                        <div class="col-md-3">Net, at 30 date of invoice</div>
                        <div class="col-md-3" style="font-weight: bold;">Numero de Orden:</div>
                        <div class="col-md-3">23458</div>
                        <div class="col-md-3" style="font-weight: bold;">Dirección de Entrega:</div>
                        <div class="col-md-3">000133490. CR 18 28 23 BRR GIRARDOT</div>
                        <div class="col-md-3" style="font-weight: bold; color: #FF602C;">Entregado</div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3" style="font-weight: bold;">Total Peso Pedido:</div>
                        <div class="col-md-3">9000.0000 (Kg)</div>
                        <div class="col-md-3" style="font-weight: bold;">Numero de Orden SAP:</div>
                        <div class="col-md-3">3901158088</div>
                        <div class="col-md-3" style="font-weight: bold;">Observación:</div>
                        <div class="col-md-3">(SandraMonal): Despachar semana del 23 de Enero 2023 (JennyHernandez):</div>
                        <div class="col-md-3" style="font-weight: bold;">Fecha de Entrega</div>
                        <div class="col-md-3">2023-01-23</div>
                        <div class="col-md-3" style="font-weight: bold;">Contacto:</div>
                        <div class="col-md-9">-</div>
                        <div class="col-md-3" style="font-weight: bold;">Dirección:</div>
                        <div class="col-md-9">-</div>
                        </div>
                        <a data-bs-toggle="collapse" href="#collapseInformacionPedidoEntregado" role="button" aria-expanded="true" aria-controls="collapseInformacionPedidoEntregado">
                        <div class="collapsible-tabs">
                        <div class="label">
                        <div class="label-color-wrapper">
                        <div class="label-color"><div class="text" style="font-weight: bold;">Orden de Compra - 123456</div></div>
                        </div>
                        <div class="chevron">
                        <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="&#240;&#159;&#166;&#134; icon &#34;chevron down&#34;">
                        <path id="Vector" d="M1.5 2L11.5 12L21.5 2" stroke="#D7D2CB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        </svg>
                        </div>
                        </div>
                        </div>
                        </a>

                        <div class="collapse show mb-4" id="collapseInformacionPedidoEntregado">
                        <div class="table-responsive table-container">
                        <table class="table">
                        <thead class="card-table_header">
                        <tr>
                        <th scope="col" class="border-radius-left" style="padding:13px;">Familia</th>
                        <th scope="col" style="padding:13px;">Código SAP</th>
                        <th scope="col" style="padding:13px;">Producto</th>
                        <th scope="col" style="padding:13px;">Precio</th>
                        <th scope="col" style="padding:13px;">Unidad</th>
                        <th scope="col" style="padding:13px;">Cantidad</th>
                        <th scope="col" style="padding:13px;">Desc. Fac</th>
                        <th scope="col" style="padding:13px;">Desc. NC</th>
                        <th scope="col" style="padding:13px;">Peso</th>
                        <th scope="col" style="padding:13px;">Subtotal</th>
                        <th scope="col" style="padding:13px;">Desc. Base</th>
                        <th scope="col" style="padding:13px;">Precio Final</th>
                        <th scope="col" style="padding:13px;">Subtotal 2</th>
                        <th scope="col" class="border-radius-right" style="padding:13px;">X</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Alambre Galvanizado</td>
                        <td>187934</td>
                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                        <td>0.000</td>
                        <td>KG</td>
                        <td>1.500</td>
                        <td>0.000</td>
                        <td>0.000</td>
                        <td>1500</td>
                        <td>$50.00</td>
                        <td>20%</td>
                        <td>$ 50.00</td>
                        <td>$ 50.00</td>
                        <td>
                        <div class="d-flex justify-content-center">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        </div>
                        </td>

                        </tr>
                        <tr>
                        <td>Alambre Galvanizado</td>
                        <td>187934</td>
                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                        <td>0.000</td>
                        <td>KG</td>
                        <td>1.500</td>
                        <td>0.000</td>
                        <td>0.000</td>
                        <td>1500</td>
                        <td>$50.00</td>
                        <td>20%</td>
                        <td>$ 50.00</td>
                        <td>$ 50.00</td>
                        <td>
                        <div class="d-flex justify-content-center">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>Alambre Galvanizado</td>
                        <td>187934</td>
                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                        <td>0.000</td>
                        <td>KG</td>
                        <td>1.500</td>
                        <td>0.000</td>
                        <td>0.000</td>
                        <td>1500</td>
                        <td>$50.00</td>
                        <td>20%</td>
                        <td>$ 50.00</td>
                        <td>$ 50.00</td>
                        <td>
                        <div class="d-flex justify-content-center">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>Alambre Galvanizado</td>
                        <td>187934</td>
                        <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                        <td>0.000</td>
                        <td>KG</td>
                        <td>1.500</td>
                        <td>0.000</td>
                        <td>0.000</td>
                        <td>1500</td>
                        <td>$50.00</td>
                        <td>20%</td>
                        <td>$ 50.00</td>
                        <td>$ 50.00</td>
                        <td>
                        <div class="d-flex justify-content-center">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        </div>
                        </td>
                        </tr>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        <div class="d-flex justify-content-center justify-content-md-end mt-3">
                        <div class="subtotales-container">
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.432.24
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        286,58
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Pago</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Retiro</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Varios</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Descuento Peso</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>

                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.145.66
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            966.92
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description">
                                                        <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            200.95
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="subtotal-description mb-5">
                                                        <label class="d-flex justify-content-md-end pe-md-5" style="font-size: 17px !important; font-weight: bold;">Valor Total</label>
                                                    </div>
                                                    <label class="pe-md-2 ps-md-5">$</label>
                                                    <div class="subtotal-value">
                                                        <label class="d-flex justify-content-end">
                                                            1.082.95
                                                        </label>
                                                    </div>
                                                </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.145.66
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        966.92
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        200.95
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description mb-5">
                        <label class="d-flex justify-content-md-end pe-md-5" style="font-size: 19px;">Valor Total</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        1.082.95
                        </label>
                        </div>
                        </div>

                        <div>
                        <div class="subtotal-description mb-3">
                        <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                        </div>
                        <label class="pe-md-2 ps-md-5">$</label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        35.87
                        </label>
                        </div>
                        </div>
                        <div>
                        <div class="subtotal-description">
                        <label class="d-flex justify-content-md-end pe-md-5">IDL%</label>
                        </div>
                        <label class="pe-md-2 ps-md-5"></label>
                        <div class="subtotal-value">
                        <label class="d-flex justify-content-end">
                        5
                        </label>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar cambios</button>
                        </div>
                        </div>
                        </div> *@
                    </div>
                    <div class="table-responsive table-container pt-3">
                        @Html.Partial("_TablePedidosHistoricos")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function cargarInfo(url, tabSeleccionada) {
        var tabs = document.querySelectorAll(".table-responsive.table-container.pt-3");
        tabs[tabSeleccionada].innerHTML = '<h1>Cargando información...</h1>';
        //console.log(url);
        fetch(url)
            .then(response => response.text())
            .then(html => {
                //console.log(html); // Verifica la respuesta en la consola

                // Insertar el HTML recibido en la tab
                tabs[tabSeleccionada].innerHTML = html;
                if (tabSeleccionada === 0)
                    inicializarTablaBorrador();

                if (tabSeleccionada === 1)
                    inicializarTablaPedidosListado();

                if (tabSeleccionada === 2)
                    inicializarTablaHistoricos();
            })
            .catch(error => console.error('Error al cargar información:', error));
    }
    // Inicializar DataTables
    function inicializarTablaPedidosListado() {
        new DataTable('#tabla-listado-pedidos', {
            pagingType: 'simple_numbers', // Establece el tipo de paginación a simple_numbers
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 5, // Establecer el número de elementos por página a 5
            dom: 'lrtip', // Define la disposición de los elementos de la tabla
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                }
            }
        });
    }
    function inicializarTablaHistoricos() {
        new DataTable('#tabla-listado-pedidos-historico', {
            pagingType: 'simple_numbers', // Establece el tipo de paginación a simple_numbers
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 5, // Establecer el número de elementos por página a 5
            dom: 'lrtip', // Define la disposición de los elementos de la tabla
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                }
            }
        });
    }
    function inicializarTablaBorrador() {


        new DataTable('#tabla-listado-pedidos-borrador', {
            pagingType: 'simple_numbers', // Establece el tipo de paginación a simple_numbers
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 5, // Establecer el número de elementos por página a 5
            dom: 'lrtip', // Define la disposición de los elementos de la tabla
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                }
            }
        });


    }
    function inicializarTablas() {
        inicializarTablaBorrador();
        inicializarTablaPedidosListado();
        inicializarTablaHistoricos();
    }

    $(document).ready(function () {
        inicializarTablas();
    });

    const abrirModal = (url, idElemento) => {
        fetch(url)
            .then(response => response.text())
            .then(html => {
                console.log(html); // Verifica la respuesta en la consola

                // Vaciar el contenido del modal existente
                document.getElementById(idElemento).innerHTML = '';

                // Insertar el HTML recibido en el modal
                document.getElementById(idElemento).innerHTML = html;

                // Obtener el modal
                var modalElement = document.getElementById(idElemento);

                var modal = new bootstrap.Modal(modalElement);

                // Mostrar el modal
                modal.show();
            })
            .catch(error => console.error('Error al cargar información:', error));
    }


</script>