<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title card-title" id="exampleModalLabel">
                Detalle de pedido
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-3" style="font-weight: bold;">Cliente:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.nombreCliente</div>
                <div class="col-md-3" style="font-weight: bold;">Fecha de Proceso:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.fechaProceso</div>
                <div class="col-md-3" style="font-weight: bold;">Forma de Pago:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.formaPago</div>
                <div class="col-md-3" style="font-weight: bold;">Numero de Orden:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.numeroOrden</div>
                <div class="col-md-3" style="font-weight: bold;">Dirección de Entrega:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.direccionEntrega</div>
                <div class="col-md-3" style="font-weight: bold; color: #FF602C;">@Model.detallePedidoInfo.estado</div>
                <div class="col-md-3"></div>
                <div class="col-md-3" style="font-weight: bold;">Total Peso Pedido:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.totalPeso (Kg)</div>
                <div class="col-md-3" style="font-weight: bold;">Numero de Orden SAP:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.numeroOrdenSAP</div>
                <div class="col-md-3" style="font-weight: bold;">Observación:</div>
                <div class="col-md-3">@Model.detallePedidoInfo.observacion</div>
                <div class="col-md-3" style="font-weight: bold;">Fecha de Entrega</div>
                <div class="col-md-3">@Model.detallePedidoInfo.fechaEntrega</div>
                <div class="col-md-3" style="font-weight: bold;">Contacto:</div>
                <div class="col-md-9">@Model.detallePedidoInfo.contacto</div>
                <div class="col-md-3" style="font-weight: bold;">Dirección:</div>
                <div class="col-md-9">@Model.detallePedidoInfo.direccion</div>
            </div>
            <a data-bs-toggle="collapse" href="#collapseInformacionPedido" role="button" aria-expanded="true" aria-controls="collapseInformacionPedido">
                <div class="collapsible-tabs">
                    <div class="label">
                        <div class="label-color-wrapper">
                            <div class="label-color"><div class="text" style="font-weight: bold;">Orden de Compra - @Model.detallePedidoInfo.ordenCompra</div></div>
                        </div>
                        <div class="chevron">
                            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="&#240;&#159;&#166;&#134; icon &#34;chevron down&#34;">
                                    <path id="Vector" d="M1.5 2L11.5 12L21.5 2" stroke="#D7D2CB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>

            <div class="collapse show mb-4" id="collapseInformacionPedido">
                <div class="table-responsive table-container">
                    <table class="table">
                        <thead class="card-table_header">
                            <tr>
                                <th scope="col" class="border-radius-left" style="padding:13px;">Familia</th>
                                <th scope="col" style="padding:13px;">Código SAP</th>
                                <th scope="col" style="padding:13px;">Producto</th>
                                <th scope="col" style="padding:13px;">Precio</th>
                                <th scope="col" style="padding:13px;">Unidad</th>
                                <th scope="col" style="padding:13px;">Cantidad</th>
                                <th scope="col" style="padding:13px;">Desc. Fac</th>
                                <th scope="col" style="padding:13px;">Desc. NC</th>
                                <th scope="col" style="padding:13px;">Peso</th>
                                <th scope="col" style="padding:13px;">Subtotal</th>
                                <th scope="col" style="padding:13px;">Desc. Base</th>
                                <th scope="col" style="padding:13px;">Precio Final</th>
                                <th scope="col" style="padding:13px;">Subtotal 2</th>
                                @* <th scope="col" class="border-radius-right" style="padding:13px;">X</th> *@
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.detallePedidoInfo.detallePedido)
                            {
                                <tr>
                                    <td>@item.familia</td>
                                    <td>@item.codigoSAP</td>
                                    <td>@item.nombreProducto</td>
                                    <td>@item.precio</td>
                                    <td>@item.unidad</td>
                                    <td>@item.cantidad</td>
                                    <td>@item.descFactura</td>
                                    <td>@item.descNotaCredito</td>
                                    <td>@item.peso</td>
                                    <td>$ @item.subtotal</td>
                                    <td>@item.descBase%</td>
                                    <td>$ @item.precioFinal</td>
                                    <td>$ @item.subtotal2</td>
                                   @*  <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            </div>
                                        </div>
                                    </td> *@

                                </tr>
                            }
                            @*    <tr>
                            <td>Alambre Galvanizado</td>
                            <td>187934</td>
                            <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                            <td>0.000</td>
                            <td>KG</td>
                            <td>1.500</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>1500</td>
                            <td>$50.00</td>
                            <td>20%</td>
                            <td>$ 50.00</td>
                            <td>$ 50.00</td>
                            <td>
                            <div class="d-flex justify-content-center">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            </div>
                            </td>
                            </tr>
                            <tr>
                            <td>Alambre Galvanizado</td>
                            <td>187934</td>
                            <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                            <td>0.000</td>
                            <td>KG</td>
                            <td>1.500</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>1500</td>
                            <td>$50.00</td>
                            <td>20%</td>
                            <td>$ 50.00</td>
                            <td>$ 50.00</td>
                            <td>
                            <div class="d-flex justify-content-center">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            </div>
                            </td>
                            </tr>
                            <tr>
                            <td>Alambre Galvanizado</td>
                            <td>187934</td>
                            <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                            <td>0.000</td>
                            <td>KG</td>
                            <td>1.500</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>1500</td>
                            <td>$50.00</td>
                            <td>20%</td>
                            <td>$ 50.00</td>
                            <td>$ 50.00</td>
                            <td>
                            <div class="d-flex justify-content-center">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            </div>
                            </td>
                            </tr> *@

                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center justify-content-md-end mt-3">
                    <div class="subtotales-container">
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.importeBruto
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.descuentoBase
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.subTotal1
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Pago</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.descuentoPago
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Retiro</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.descuentoRetiro
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Varios</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.descuentoVarios
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Peso</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.descuentoPeso
                                </label>
                            </div>
                        </div>

                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.subTotal2
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.iva
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">Seguro de Transporte</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.seguroTransporte
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description mb-5">
                                <label class="d-flex justify-content-md-end pe-md-5" style="font-size: 19px;">Valor Total</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.valorTotal
                                </label>
                            </div>
                        </div>

                        <div>
                            <div class="subtotal-description mb-3">
                                <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                            </div>
                            <label class="pe-md-2 ps-md-5">$</label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.valorNcsinIva
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="subtotal-description">
                                <label class="d-flex justify-content-md-end pe-md-5">IDL%</label>
                            </div>
                            <label class="pe-md-2 ps-md-5"></label>
                            <div class="subtotal-value">
                                <label class="d-flex justify-content-end">
                                    @Model.detallePedidoInfo.margenPor
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div>*@
    </div>
</div>
